.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background:linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),url("/profilebg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card {
  width: 100%;
  max-width: 1050px;
  min-height: 430px;
  position: relative;
  padding: 48px 55px 38px;

  background: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(18px);

  box-shadow: 0 20px 70px rgba(0,0,0,0.35);
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editBtn,
.logoutBtn {
  background-color: #555;
  text-decoration: none;
  color: #ececec;
  font-weight: 600;
  font-size: 15px;
  padding: 7px 14px;
  capacity: 70%;
  border-radius: 8px;
  hover {
    background-color: #c2c2c2;
  }
}

.editBtn:hover {
  transform: translateY(-3px);
  box-shadow:0 18px 40px rgba(255, 255, 255, 0.35);
}

.logoutBtn:hover {
  transform: translateY(-3px);
  box-shadow:0 18px 40px rgba(255, 255, 255, 0.35);
}

.avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background: #f7f7f7;
  box-shadow: 0 16px 35px rgba(0, 0, 0, 0.18);

  position: absolute;
  top: -62px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 42px;
  font-weight: 800;
  color: #ffffff;
}

.content {
  text-align: center;
  margin-top: 70px;
}

.name {
  font-size: 42px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 10px;
}

.location {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 24px;
}

.meta {
  color: #ffffff;
  line-height: 1.7;
  margin-bottom: 24px;
}

.bio {
  max-width: 780px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.6;
}

.bottomRow {
  margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 20px;
}

.infoBox h3 {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 6px;
}

.infoBox p {
  color: #ffffff;
  font-size: 14px;
}

.infoBox:last-child {
  text-align: right;
}

.homeBtn {
  text-decoration: none;
  padding: 14px 24px;
  border-radius: 12px;
  background: linear-gradient(135deg, #d780dc);
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.homeBtn:hover {
  transform: translateY(-3px);
  background: linear-gradient(135deg, #f5f4f5);
  box-shadow:0 18px 40px rgba(245, 244, 245, 0.35);
}

@media (max-width: 768px) {
  .card {
    padding: 45px 24px 30px;
  }

  .name {
    font-size: 30px;
  }

  .bottomRow {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .infoBox:last-child {
    text-align: center;
  }
}